<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio - Lucas Fabiano Peres Silva</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h2>Lucas Fabiano Peres Silva</h2>
        <p>Profissional Fullstack | Java (Springboot, Quarkus), Angular, Typescript, Docker, AWS, Bancos de Dados, Git</p>
    </header>

    <section id="sobre">
        <img src="https://media.licdn.com/dms/image/v2/D4D03AQG4O6Pj-FPptQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1681480222206?e=2147483647&v=beta&t=IvoVz7usr5-X5zTMV757sORuHC4e4MgQ_hRbm59SJuY" alt="Foto de Lucas Fabiano Peres Silva">
        <h3>Sobre</h3>
        <p>Desenvolvedor fullstack com expertise em Java (Springboot e Quarkus), Angular, e Typescript no frontend.
            Tenho experiência com Docker, AWS, bancos de dados e Git, e sou apaixonado por criar soluções eficientes e escaláveis.
            Estou sempre em busca de novas tecnologias e das melhores práticas para entregar software de qualidade.</p>
    </section>

    <section id="projetos">
        <h3>Projetos</h3>
        <ul>
            <li>
                <a href="https://github.com/Luke-1207/Med.Voll_SpringBoot" target="_blank">MedVoll API</a>
                <p>Meu primeiro projeto utilizando Spring Boot, focado no Backend, consiste em desenvolver uma API
                    Rest para uma clínica médica. O objetivo principal é implementar os métodos CRUD (Create, Read, Update e Delete).</p>
            </li>
            <li>
                <a href="https://github.com/Luke-1207/Memoteca" target="_blank">Memoteca</a>
                <p>Meu primeiro projeto com Angular, focado na componentização e no aprendizado com frontend. Consiste em realizar uma
                    biblioteca de frases, trechos, letras de música, etc.</p>
            </li>
        </ul>
    </section>

    <section id="contatos">
        <h3>Contatos</h3>
        <ul>
            <li><a href="https://www.instagram.com/_luluccas" target="_blank">Instagram</a></li>
            <li><a href="mailto:lucasfabiano1207@gmail.com">Email</a></li>
            <li><a href="https://br.linkedin.com/in/lucas-fabiano-peres-silva-70390424a" target="_blank">LinkedIn</a></li>
        </ul>
    </section>

    <footer>
        <p>&copy; 2024 Lucas Fabiano Peres Silva</p>
    </footer>
</body>
</html>
